{
  "presets": [
    "env", "es2015"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    "@babel/env",
    "@babel/plugin-transform-runtime",
    "react-hot-loader/babel",
    "transform-react-jsx", 
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import"
  ]
}