
// :global(body,html) {
//     width: 100%;
//     height: 100%;
//     padding: 0;
//     margin: 0;
//   }

// :global(#app) {
//   width: 100%;
//   height: 100%;
// }
.m-g-container {
  position: relative;
  border: 1px solid #ccc;
  canvas {
    margin: 0;
    padding: 0;
  }
}