
// :global(body,html) {
//     width: 100%;
//     height: 100%;
//     padding: 0;
//     margin: 0;
//   }

// :global(#app) {
//   width: 100%;
//   height: 100%;
// }
.mg-container {
  position: relative;
  border: 1px solid #ccc;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
  canvas {
    margin: 0;
    padding: 0;
  }
  .mg-drag-col-line {
    position: absolute;
    border-right: 1px dashed #000;
    width: 1px;
  }
  .mg-drag-row-line {
    position: absolute;
    border-top: 1px dashed #000;
    height: 1px;
  }
}
.mg-footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #f5f3f3;
  .mg-footer-tab {
    height: 100%;
    width: 56%;
    float: left;
  }
  .mg-footer-scroll {
    float: left;
    width: 43%;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 4px;
  }
  .mg-tabs {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 50px 0 60px;
    position: relative;
    display: flex;
    align-items: center;
    .mg-tabs-arrow {
      width: 55px;
      height: 100%;
      position: absolute;
      left: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      // border-right: 1px solid #ccc;

      span {
        display: inline-block;
      }
      .mg-tabs-arrow-left {
        width: 22px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .mg-tabs-arrow-left-item {
          width: 8px;
          height: 8px;
          border-top: 1px solid rgb(172, 170, 170);
          border-left: 1px solid rgb(172, 170, 170);
          transform:rotate(-45deg);
        }
      }
      .mg-tabs-arrow-left:hover .mg-tabs-arrow-left-item {
        border-color: green;
      }
      .mg-tabs-arrow-right {
        width: 22px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .mg-tabs-arrow-right-item {
          width: 8px;
          height: 8px;
          border-top: 1px solid rgb(172, 170, 170);
          border-left: 1px solid rgb(172, 170, 170);
          transform:rotate(135deg);

        }
      }
      .mg-tabs-arrow-right:hover .mg-tabs-arrow-right-item {
        border-color: green;
      }
    }
    .mg-tabs-wapper {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      .mg-tabs-inner {
        height: 100%;
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        transition: left 0.4s;
        .mg-tabs-item {
          display: inline-block;
          padding: 0 12px;
          height: 24px;
          line-height: 25px;
          text-align: center;
          color: rgba(0, 0, 0, 0.8);
          cursor: pointer;
        }
        .mg-tabs-item-active {
          color: green;
          border-bottom: 2px solid green;
          background: #fff;
        }
      }
    }
    .mg-tabs-add {
      width: 16px;
      height: 16px;
      position: absolute;
      right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 2px solid #ccc;
      cursor: pointer;
      .mg-tabs-add-line1 {
        display: inline-block;
        width: 10px;
        height: 2px;
        border-top: 2px solid #ccc;
        position: absolute;
        top: 7px;
        left: 3px;
      }
      .mg-tabs-add-line2 {
        display: inline-block;
        height: 11px;
        width: 2px;
        border-left: 2px solid #ccc;
        position: absolute;
        left: 7px;
      }
    }
    .mg-tabs-add:hover {
      border-color:green
    }
    .mg-tabs-add:hover span{
      border-color:green
    }
  }
}